# Dependencies
node_modules/

# Build
dist/
*.local

# Editor
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Upload backend runtime files
backend/upload-server/uploads/

# Test / coverage
coverage/
.nyc_output/

# Env
.env
.env.local
.env.*.local

# Vite
*.tsbuildinfo
